[Unit]
Description=ItaloNET: Anonymous Network layer thingydoo.
Wants=network-online.target
After=network-online.target

[Service]
User=debian-italonet
SyslogIdentifier=italonet
ExecStartPre=/bin/bash -c "/usr/bin/italonet-bootstrap && /usr/bin/italonet -g"
ExecStart=/usr/bin/italonet
Restart=always

[Install]
WantedBy=multi-user.target