[Unit]
Description=ItaloNET VPN tunnel: shove all traffic over italonet
Wants=italonet.service
After=italonet.service

[Service]
Type=oneshot
ExecStart=/usr/bin/italonet-vpn --up
ExecStop=/usr/bin/italonet-vpn --down
RemainAfterExit=true

[Install]
WantedBy=multi-user.target