<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>network.italo.italonet.daemon</string>

	<key>ProgramArguments</key>
	<array>
		<string>/var/lib/italonet/italonet_macos_daemon_script.sh</string>
	</array>

	<!-- Keep Italonet alive unless magic file exists -->
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/var/lib/italonet/suspend-launchd-service</key>
			<false/>
		</dict>
	</dict>

	<key>StandardOutPath</key>
    <string>/var/lib/italonet/stdout</string>

    <key>StandardErrorPath</key>
    <string>/var/lib/italonet/stderr</string>
	
</dict>
</plist>
